<%= link_to new_users_import_path, class: 'btn btn-outline btn-md gap-2 w-full md:w-fit', data: { turbo_frame: 'modal' } do %>
  <%= svg_icon('upload', class: 'w-6 h-6') %>
  <span>Importer depuis Excel</span>
<% end %>
